{% extends 'sidebar.html' %} {% block content %} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container" style="padding-right: 30%;">
      <div  class="">
        <form method="POST" action="">
        {% csrf_token %}
        <h1 class="mt-5 display-3">Change Password</h1>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
       required
            name="op"
          />
          <label for="floatingInput">Old Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
          required
            name="np"

          />
          <label for="floatingInput">New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            name="cp"
required
          />
          <label for="floatingInput">Confirm Password</label>
        </div>
        
        <div class="d-grid gap-2 col-6 ">
        <button
          type="submit"
          class="btn btn-outline-warning text-dark-emphasis btn-lg"
        >
          Change Password
        </button></div>
      </form>
    </section>

    {% if msg == 1 %}
    <script type="text/javascript">
      alert("Password successfully changed");
    </script>
    {% endif %}

    {% if msg == 2 %}
    <script type="text/javascript">
      alert("old password not correct");
    </script>
    {% endif %}

    {% if msg == 3 %}
    <script type="text/javascript">
      alert("New pass and confirm pass not match");
    </script>
    {% endif %}
  </body>
</html>
{% endblock %}
