{% extends 'sidebar.html' %} {% block content %} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container" style="padding-right: 30%">
      <!-- <form method="POST" action="" class=""> -->
      {% csrf_token %}

      <h1 class="mt-5 display-3">Nitrogen Fertilizer Analysis</h1>
      <div class="row align-items-center mt-3">
        <div class="col-12">
          <a href="{% url 'f1' %}" class="link-dark fs-3">
            Fertilizer Use of 1 country </a
          ><br />
          <a href="{% url 'f2' %}" class="link-dark fs-3">
            Fertilizer Use in 1 year </a
          ><br />
          <a href="{% url 'f3' %}" class="link-dark fs-3">
            Fertilizer Use of 1 country from a startyear</a
          ><br />
          <a href="{% url 'f4' %}" class="link-dark fs-3">
            Fertilizer Use of 2 country comparison
          </a>
        </div>
      </div>
      <!-- </form> -->
    </section>

    {% if msg == 1 %}
    <script type="text/javascript">
      alert("success");
    </script>
    {% endif %}
    <script>
      !(function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = "https://weatherwidget.io/js/widget.min.js";
          fjs.parentNode.insertBefore(js, fjs);
        }
      })(document, "script", "weatherwidget-io-js");
    </script>
  </body>
</html>
{% endblock %}
